*.db
*.DS_Store
*.log
*.min.css
*.min.js
*.pid
*.rdb

.codeclimate.yml
.coverage
.coveragerc
.gitignore
.pylintrc
.whitesource
app.json
docker-compose.yml
Dockerfile
Makefile
Procfile
README.md
run-local.sh
runtime.txt

.mypy_cache/
.git/
.github/
__pycache__/
app.egg-info/
bin/
config/
docs/
environments/
env/
postgres/
shhh/static/vendor/
tests/
venv/
