*.db
*.DS_Store
*.log
*.pid
*.rdb

.coveragerc
.gitignore
.travis.yml
app.json
docker-compose.yml
Dockerfile
Makefile
Procfile
README.md
run-local.sh
run-tests.sh
runtime.txt

.git/
__pycache__/
app.egg-info/
dockerenv/
env/
postgres/
tests/
venv/
