*.db
*.DS_Store
*.log
*.min.js
*.pid
*.rdb

.coverage
.coveragerc
.gitignore
.pylintrc
.travis.yml
app.json
docker-compose.yml
Dockerfile
Makefile
Procfile
README.md
run-local.sh
runtime.txt
yarn.lock

.git/
__pycache__/
app.egg-info/
bin/
dockerenv/
env/
postgres/
shhh/static/vendor/
tests/
venv/
