aniso8601==9.0.1
APScheduler==3.8.1
certifi==2022.12.7
cffi==1.15.0
chardet==4.0.0
click==8.0.3
cryptography==39.0.2
cssmin==0.2.0
Flask==2.0.2
Flask-APScheduler==1.12.4
Flask-Assets==2.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
htmlmin==0.1.12
idna==3.4
itsdangerous==2.0.1
Jinja2==3.1.2
jsmin==3.0.1
MarkupSafe==2.1.2
marshmallow==3.19.0
psycopg2-binary==2.9.5
pycparser==2.21
python-dateutil==2.8.2
pytz==2021.3
requests==2.28.1
six==1.16.0
SQLAlchemy==1.4.45
tzlocal<4.0
urllib3==1.26.13
webargs==8.0.1
webassets==2.0
Werkzeug==2.0.2
