<!DOCTYPE html>
<html lang="en">
  <!--
  Author: Matthieu Petiteau <mpetiteau.pro@gmail.com>
  Source code: https://github.com/smallwat3r/shhh

  Please feel free to contribute to the project!
  -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="passwords,secrets,password,secret,encrypt,secret sharing,password sharing,security,privacy,shhh"
    />
    <meta
      name="description"
      content="Keep secrets out of emails and chat logs, share them using secure links with passphrase and expiration dates."
    />
    <title>Shhh - Keep secrets out of emails and chat logs.</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bulma/css/bulma.min.css') }}" />
    {% assets "styles" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>

  <body>
    <section class="hero is-dark is-bold is-fullheight">
      <div class="container has-text-centered">
        <div class="hero-body">
          <div class="columns is-centered">
            <div class="column is-half">

              <a href="/">
                <img width="15%" src="{{ url_for('static', filename='img/logo.png') }}" alt="shhh" />
              </a>
              <p class="mt-2 is-size-6">Keep secrets out of emails and chat logs.</p>

              <hr />

              {% block container %}
              {% endblock %}

              <hr />
              <div class="has-text-right help">
                <p class="has-text-justified mb-2">
                  Secrets are stored using advanced encryption and are
                  only available for a limited amount of time. Shhh
                  doesn't store your passphrases, they are only used
                  to encrypt your secrets. Encryption method used: Fernet
                  with password, random salt value and strong iteration
                  count (100 000).
                </p>
                <p class="has-text-justified mb-2">
                  The project is open-source (MIT) and available
                  <a class="has-text-weight-bold"
                     target="_blank"
                     rel="noreferrer noopener"
                     href="https://github.com/smallwat3r/shhh">
                    here
                  </a>
                  , so feel free to contribute, star, fork, spread love! There
                  is everything you need to host this app on your own private
                  / local server if you want even more security and privacy.
                </p>
                <p><strong>Shhh v{{ version }}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{{ url_for('static', filename='vendor/feather-icons/dist/feather.min.js') }}"></script>
    <script>feather.replace();</script>

    {% block js %}{% endblock %}
  </body>
</html>
