<!DOCTYPE html>
<html lang="en">

  <!--
  Source code: https://github.com/smallwat3r/shhh
  Feel free to contribute to the project!
  -->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="passwords,secrets,password,secret,encrypt,sharing,security,privacy,shhh"
    />
    <meta
      name="description"
      content="Keep secrets out of emails and chat logs, share them using secure links with passphrase and expiration dates."
    />
    <title>Shhh - Keep secrets out of emails and chat logs.</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bulma/css/bulma.min.css') }}" />
    {% assets "styles" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>

  <body>
    <section class="hero is-dark is-bold is-fullheight">
      <div class="hero-head">
        <div class="container has-text-centered has-text-weight-bold">
          <p class="is-size-5 mt-3">
            <a class="has-text-primary" href="{{ url_for('views.create') }}">~/</a>
            Shhh, keep secrets out of emails and chat logs.
          </p>
          <hr class="mt-3" />
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered has-text-weight-bold">
          <div class="columns is-centered">
            <div class="column is-three-fifths">
              {% block container %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      <div class="hero-footer">
        <div class="container has-text-centered has-text-weight-bold">
          <hr class="mb-3 mt-3" />
          <p class="help mb-3">
            <a class="has-text-primary"
                target="_blank"
                rel="noreferrer noopener"
                href="https://github.com/smallwat3r/shhh">
              source code
            </a> - Shhh v{{ version }}
          </p>
        </div>
      </div>
    </section>

    <script src="{{ url_for('static', filename='vendor/feather-icons/dist/feather.min.js') }}"></script>
    <script>feather.replace();</script>
    {% block js %}{% endblock %}
  </body>

</html>
