{% extends 'base.html' %}

{% block container %}

    <h2>Create Secret</h2>

    {% if not data %}

        <form method="post">
            <p for="inputSecret">Secret message</p>
            <textarea class="form-control" name="inputSecret"
                id="inputSecret" rows="3" placeholder="Your secret..."
                autocomplete="off" required></textarea>

            <p>Passphrase to open secret</p>
            <input name="passPhrase" id="passPhrase" placeholder="Passphrase"
                autocomplete="off" required>

            <p>Destroy in</p>
            <select id="expiresValue" name="expiresValue">
                <option value="1">1 day</option>
                <option value="2">2 days</option>
                <option value="3">3 days</option>
                <option value="7">1 week</option>
            </select>

            <div class="p-top">
                <input type="submit" class="btn" value="Generate Secret Link">
            </div>
        </form>

    {% else %}

        <div class="alert-success">
            <h4 class="link">{{ data.l }}</h4>
            <hr>
            <p>Send this link along with the passphrase to your recipient.
               This link will expire in <b>{{ data.e }} day(s).</b></p>
        </div>

    {% endif %}

{% endblock %}
