{% extends 'base.html' %}

{% block container %}
  <p class="has-text-left is-size-4 mb-2">
    <span class="feather mr-2" data-feather="share-2"></span>
    Share this link and the passphrase
  </p>
  <p class="has-text-justified help mb-4">
    Send this link and the passphrase you've previously created to your recipient. Bear in mind
    that as soon as the secret gets decrypted, it gets deleted forever. This link will expire
    on {{ expires_on }}.
  </p>
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input is-family-monospace" type="text" id="link" value="{{ link }}" readonly />
    </div>
    <div class="control">
      <button id="copy" class="button is-warning">copy</button>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% assets "created" %}
    <script type="module" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
