{% extends 'base.html' %}

{% block container %}
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input is-family-monospace" type="text" id="link" value="{{ link }}" readonly />
    </div>
    <div class="control">
      <button id="copy" class="button is-warning">copy</button>
    </div>
  </div>
  <p>
    Send this link <strong>and the passphrase</strong> to your recipient so they can read the secret.
    This link <strong>will expire</strong> on <strong>{{ expires_on }}.</strong> Please bear in mind
    that as soon as the secret gets decrypted, <strong>it gets deleted forever</strong>.
  </p>
{% endblock %}

{% block js %}
  {% assets "created" %}
    <script type="module" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
