{% extends 'base.html' %}
{% block container %}
<form method="post">
  <p class="has-text-left">Write your secret</p>
  <div class="field">
    <p class="control">
      <textarea
        class="textarea"
        name="inputSecret"
        id="inputSecret"
        rows="4"
        maxlength="150"
        placeholder="Tip: for better security, avoid writing any info on how/where to use the secret you're sharing (like urls or apps names). Explain this in your email, alongside the link and passphrase generated."
        autocomplete="off"
        required
      ></textarea>
    </p>
    <p id="count" class="help has-text-right"></p>
  </div>
  <p class="has-text-left">Auto-destroy in</p>
  <div class="field">
    <div class="control">
      <div class="select">
        <select id="expiresValue" name="expiresValue">
          <option value="1">1 day</option>
          <option value="2">2 days</option>
          <option value="3">3 days</option>
          <option value="7">1 week</option>
        </select>
      </div>
    </div>
  </div>
  <p class="has-text-left">Passphrase to open secret (min 8 chars, 1 number, 1 uppercase)</p>
  <div class="field is-grouped">
    <p class="control is-expanded">
      <input
        class="input"
        id="passPhrase"
        name="passPhrase"
        type="text"
        placeholder="Passphrase"
        autocomplete="off"
        required
      />
    </p>
    <p class="control">
      <button type="button" class="button is-primary" id="createBtn">Go</button>
    </p>
  </div>
</form>
<br />
<div id="response"><b><span id="msg"></span></b></div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='dist/js/create.min.js') }}"></script>
{% endblock %}
