{% extends 'base.html' %}

{% block container %}

    <h2 class="subtitle">
        Decrypt secret
    </h2>
    <div class="field is-grouped">
        <p class="control is-expanded">
        <input class="input" name="passPhrase" id="passPhrase" type="text" placeholder="Passphrase" autocomplete="off" required>
        <p class="control">
        <button type="submit" class="button is-primary" id="decryptBtn">Decrypt</button>
        </p>
    </div>
    <p class="help">
        As soon as the message is decrypted, <b>it will be burn 🔥</b>, so make sure to save
        it in a <b>secure</b> place before leaving this page if needed.
    </p>
    <br />
    <div id="response"><p id="msg"></p></div>

{% endblock %}

{% block js %}

    <script>
        document.getElementById('decryptBtn').addEventListener('click', _ => {
            const slug = '{{ slug }}';
            const passphrase = document.getElementById('passPhrase').value;
            if (passphrase) {
                fetch(`/api/r?slug=${slug}&passphrase=${passphrase}`, {
                    method: 'GET',
                    cache: 'no-store'
                })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    switch (data.status) {
                        case 'error':
                            document.getElementById('response').className = 'p-top alert-error';
                            break;
                        case 'expired':
                            document.getElementById('response').className = 'p-top alert-expired';
                            document.getElementById('passPhrase').value = '';
                            document.getElementById('passPhrase').disabled = true;
                            document.getElementById('decryptBtn').disabled = true;
                            break;
                        case 'success':
                            document.getElementById('response').className = 'p-top alert-success';
                            document.getElementById('passPhrase').value = '';
                            document.getElementById('passPhrase').disabled = true;
                            document.getElementById('decryptBtn').disabled = true;
                            break;
                    }
                    document.getElementById('msg').setAttribute('style', 'white-space: pre;');
                    document.getElementById('msg').innerHTML = data.msg;
                });
            }
        });
    </script>

{% endblock %}
