# dev-local env
# env file for local development purposes only
# please do not use this env file in production

FLASK_ENV=dev-local
FLASK_DEBUG=1

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DB=shhh

# [OPTIONAL]
# This variable can be used to specify a custom hostname to use as the
# domain URL when Shhh creates a secret (ex: https://<domain-name.com>). If not
# set, the hostname defaults to request.url_root, which should be fine in
# most cases.
SHHH_HOST=
