@font-face {
  font-family: "Hack";
  src: url("/static/vendor/hack-font/build/web/fonts/hack-regular.woff");
}
body {
  font-family: "Hack", monospace;
}
input,
textarea,
select {
  font-family: "Hack", monospace;
}
textarea::placeholder {
  font-size: 15px;
}
a {
  color: #fff;
}
a:hover {
  color: #a4eb34;
}
