@font-face {
  font-family: "Work Sans";
  src: url("/static/vendor/typeface-work-sans/files/work-sans-latin-400.woff");
}

@font-face {
  font-family: "Hack";
  src: url("/static/vendor/hack-font/build/web/fonts/hack-regular.woff");
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  color: #fff;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75)
  );
}

.hidden {
  visibility: hidden;
}

.is-family-monospace {
  font-family: "Hack", monospace !important;
}

.clickable {
  cursor: pointer;
}

.secret-message {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Icons */
.feather {
  width: 15px;
  height: 15px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* Pop animation */
.pop {
  animation: pop 0.25s ease-in-out;
}
@keyframes pop {
  50% {
    transform: scale(1.25);
  }
}
