@font-face {
  font-family: "Chivo";
  src: url("/static/vendor/typeface-chivo/files/chivo-latin-400.woff");
}

body {
  font-family: "Chivo", sans-serif;
}

a {
  color: #fff;
}

input,
textarea,
select {
  font-family: "Chivo", sans-serif;
}

.info {
  padding-top: 20px;
}
