# dev-local env
# env file for local development purposes only
# please do not use this env file in production

FLASK_ENV=dev-local

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DB=
