<!DOCTYPE html>
<!--
 - File  : read.html
 - Author: Matthieu Petiteau <mpetiteau.pro@gmail.com>
 - Date  : 17.09.2019
-->
<html lang="en">
{% include '_header.html' %}

<body>

  <main role="main" class="container">
    <form class="container" id="secretReader">
      <embed type="image/svg+xml" width="250px" src="{{ url_for('static', filename='img/fingerprint.svg') }}" />

      <h1 class="mt-5">Shhh...</h1>

      <h2>Read Secret</h2>

      <label for="passPhrase">Passphrase to open secret</label>
      <input class="form-control" name="passPhrase" id="passPhrase" placeholder="Passphrase" required>

      <br />
      <input id="decryptBtn" type="submit" class="btn btn-primary btn-lg" value="Decrypt">
    </form>

    <div class="alert alert-danger" role="alert" id="linkError" style="display:none;">
      <p><span id="errorMsg"></span></p>
    </div>

    <div class="alert alert-secondary" role="alert" id="linkSuccess" style="display:none;">
      <p><span id="secretMsg"></span></p>
    </div>
  </main>

</body>

{% include '_footer.html' %}

{% include '_dom_block_UI.html' %}
{% include '_scripts.html' %}
{% compress 'js' %}
<script>
  $(document).ready(function() {
    $.urlParam = function(name) {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (results == null) {
        return null;
      } else {
        return decodeURI(results[1]) || 0;
      }
    }
    $('#secretReader').on('submit', function(event) {
      event.preventDefault();
      blockUI();
      $.ajax({
        url: '/api/read?slug=' + $.urlParam('slug'),
        data: $('#secretReader').serialize(),
        type: 'POST',
        success: function(d) {
          if (d.status == 'error') {
            $('#errorMsg').empty().append(d.msg);
            $('#linkError').fadeIn(1000);
            setTimeout(function() {
              $('#linkError').fadeOut(1000)
            }, 2500);
          } else {
            $('#linkSuccess').fadeIn(1000);
            $('#secretMsg').empty().append(d.msg);
            $('#decryptBtn').attr('disabled', true);
          }
        },
        complete: function() {
          $.unblockUI();
        }
      });
    });
  });
</script>
{% endcompress %}

</html>
