<!DOCTYPE html>
<!--
 - File  : create.html
 - Author: Matthieu Petiteau <mpetiteau.pro@gmail.com>
 - Date  : 17.09.2019
-->
<html lang="en">
{% include '_header.html' %}

<body>

  <main role="main" class="container">
    <form class="container" id="secretSender">
      <embed type="image/svg+xml" width="250x" src="{{ url_for('static', filename='img/secret.svg') }}" />

      <h1 class="mt-5">Shhh...</h1>

      <h2>Create Secret</h2>

      <label for="inputSecret">Secret message</label>
      <textarea class="form-control" name="inputSecret" id="inputSecret" rows="4" cols="50" placeholder="Your secret..." required></textarea>

      <label for="passPhrase">Passphrase to open secret</label>
      <input class="form-control" name="passPhrase" id="passPhrase" placeholder="Passphrase" required>

      <label for="expiresValue">Destroy in</label>
      <select class="form-control" id="expiresValue" name="expiresValue">
        <option value="1">1 day</option>
        <option value="2">2 days</option>
        <option value="3">3 days</option>
        <option value="7">1 week</option>
      </select>

      <br />
      <input type="submit" class="btn btn-primary btn-lg" value="Generate Secret Link">
    </form>

    <div class="alert alert-success" role="alert" id="linkPop" style="display:none;">
      <h4 class="alert-heading" id="linkDetail"></h4>
      <hr>
      <p>Send this link along with the passphrase to your recipient. This link will expire in <b><span id="linkExpire"></span> day(s).</b></p>
    </div>

  </main>

</body>

{% include '_footer.html' %}

{% include '_dom_block_UI.html' %}
{% include '_scripts.html' %}
{% compress 'js' %}
<script>
  $(document).ready(function() {
    $('#secretSender').on('submit', function(event) {
      event.preventDefault();
      blockUI();
      $.ajax({
        url: '/api/send',
        data: $('#secretSender').serialize(),
        type: 'POST',
        success: function(d) {
          $('#linkPop').fadeIn(1000);
          var domain = window.location.hostname;
          if ( domain == '0.0.0.0' ) {
              // If application is run on local we need to append the port number.
              $('#linkDetail').empty().append(window.location.hostname + ':5000/read?slug=' + d.slug);
          } else {
              $('#linkDetail').empty().append(window.location.hostname + '/read?slug=' + d.slug);
          }
          $('#linkExpire').empty().append(d.expires);
        },
        complete: function() {
          $.unblockUI();
        }
      });
    });
  });
</script>
{% endcompress %}

</html>
